In [1]:
import sys
import pandas as pd
sys.path.append('/Users/georsara11/Desktop/python/DataMirror/datamirror')

In [2]:
from api.openai_client import ask_gpt

In [3]:
from IPython.display import display, HTML

# Increase the width of the notebook and prevent truncation
display(HTML("<style>.container { width:100% !important; }</style>"))

In [4]:
from dotenv import load_dotenv

load_dotenv()

True

In [5]:
# Give filepaths for the two datasets to compare
file1_path = "/Users/georsara11/Desktop/python/DataMirror/data/data1.csv"
file2_path = "/Users/georsara11/Desktop/python/DataMirror/data/data2.csv"

In [6]:
df1 = pd.read_csv(file1_path)
df2 = pd.read_csv(file2_path)

In [7]:
df1.head()

  Category1 Category2 Category3     Value1     Value2
0         A         A         A   4.445098  94.903505
1         A         C         B   7.656103  88.091675
2         C         D         A  78.073022  91.246189
3         B         C         A  37.266519  62.973321
4         B         B         C  38.902586  43.292858

In [8]:
df2.head()

  Category1 Category2 Category3     Value1     Value2
0         D         A         C  90.983392  44.745661
1         D         D         D  48.683517  60.520440
2         D         A         D  23.485716   1.650729
3         A         D         A   9.865848  88.334619
4         A         B         C  31.478950  28.533181

In [9]:
df1['Category1'].value_counts()

Category1
B    135
A    126
D    125
C    114
Name: count, dtype: int64

In [10]:
df2['Category1'].value_counts()

Category1
A    167
B    149
C    141
D    140
E      3
Name: count, dtype: int64

In [11]:
df1['Value2'].describe()

count    500.000000
mean      51.291657
std       28.215964
min        1.514327
25%       27.680908
50%       50.516047
75%       75.558495
max       99.990056
Name: Value2, dtype: float64

In [12]:
df2['Value2'].describe()

count    600.000000
mean      50.425017
std       29.261367
min        1.083488
25%       26.466896
50%       51.815240
75%       74.903475
max      147.023678
Name: Value2, dtype: float64

In [15]:
ask_gpt(file1_path, file2_path)

Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: in_progress
Run status: completed


------------------------------------------------------------

User:
        The two uploaded datasets represent two snapshots of the same data in different points in time. Can you please tell me how the data has changed?

        For example, provide insights on:
        - Any differences in columns (names, types). Only comment if a difference is actually found.
        - Differences in numerical columns (e.g. distribution shifts between the first and second dataset).
        - Differences in categorical variables after performing a value count. Do not give me the actual value counts, give me a comment on what is more
        or less the same and what has changed (e.g. some categories disappear or new categories appear - and if so, which ones specifically).
        The order of appearence of the categories does not qualify as a change.

        Please do not return any graphs, figures, images or any kind of visuallization.

Assistant: ### Observations:

#### Numerical Columns:
- **Value1** and **Value2**:
  - In both datasets, the mean, standard deviation, minimum, and quartiles are generally similar, indicating that there haven't been substantial shifts in the overall distribution.
  - However, in the second dataset, the maximum value of `Value2` has increased significantly from approximately 100 to 147, suggesting a notable change at the upper end of the distribution.

#### Categorical Columns:
- **Category1**:
  - A new category "E" has been introduced in the second dataset, whereas it did not exist in the first dataset.
  - The distribution of categories has shifted, with slight increases in counts for existing categories.

- **Category2**:
  - No new categories have appeared. The distribution of counts across existing categories shows some variation, with none being completely removed but minor count adjustments.

- **Category3**:
  - Similarly as with `Category2`, no new categories have emerged or disappeared. The distribution across existing categories shows minor count adjustments.

In summary, the numerical data remains consistent except for an outlier increase in the maximum value for `Value2`, while categorical data experienced the emergence of a new category "E" in `Category1`.